@font-face {
	font-family: 'Calypsoka';
	src: url('./assets/fonts/Calypsoka.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CaviarDreams';
	src: url('./assets/fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'AntipastoProRegular';
	src: url('./assets/fonts/AntipastoProRegular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JosefinSansLight';
	src: url('./assets/fonts/JosefinSansLight.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JosefinSansRegular';
	src: url('./assets/fonts/JosefinSansRegular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.leaflet-container {
	height: 100%;
	width: 100%;
}
